@font-face {
    font-family: Molodo-font; /* Гарнитура шрифта */
    src: url(../fonts/Molodo-font.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
   font-family: Pribambas; /* Гарнитура шрифта */
   src: url(../fonts/Pribambas.ttf); /* Путь к файлу со шрифтом */
  }